main {
    // height: calc(100vh - 70px);
    width: 100%;
    background-color: $main_color;
}

.cards-container {
    width: 80%;
    padding-top: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .card{
        width: 300px;
        height: 400px;
        margin: 40px;
        background-color: $alt_color;
        color: $text_color;
        .album-cover {
            width: 100%;
            height: 300px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .album-info {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
                color: $title_color;
                padding: 10px
            }
            p {
                color: $text_color;
                padding: 10px;
            }
        }
    }
}
